.contenedor-testimonio {
    height: 200px;
    width: 90vw;
    display: flex;
    border: 2px solid #aaa;
    border-radius: 10px;
    box-sizing: content-box;
    overflow: hidden;
    box-shadow: 3px 0px 7px;
    margin: 5px;
}
@keyframes contenedorAnimado{
    0%{
        transform: translateX(105%);
        opacity: 0;
    }
    100%{
        transform:translateX(0%);
        opacity: 1;
    }
}
.animado {
    animation-duration: 0.5s;
    animation-name: contenedorAnimado;
}
.contenedor-testimonio{
    font-family:Helvetica, sans-serif;
}
.avatar-testimonio{
    border-radius: 0px 10px 10px 0px;
    
}
.contenedor-texto-testimonio{
    margin: 7px;
}
.descripcion-testimonio{
    text-align: justify;
    margin: 12px;
}
.mostrar{
    display: none;
}