*{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}
html,body{
    font-size: 18px;
    background-color: #ddd;
}
h1{
    max-width: 940px;
    font-size: 2.5em;
    font-family: 'MassEffect', sans-serif;
    line-height: 1.1;
    margin: 40px auto;
    text-align: center;
}
.App{
    min-height: 10vh;
    min-width: 10vw;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'MassEffect',sans-serif;
}
.contenedor-Testimonios{
    height: 520px;
    scrollbar-width: none;
}
.contenedor-Testimonios::-webkit-scrollbar { 
    display: none;
}
.Lista-Tareas{
    display: block;
    align-items: center;
    justify-content: center;
}
.Lista-Tareas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-pokeSearch{
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    overflow: scroll;
}
.bloquePoke{
    display: block;
}
